*.exe
*.res
*.lps
*.dbg
*.msi
*.mo
*.tar.gz
*.zip
/lib
/installer/linux/*.deb
/installer/linux/DATA/usr/bin/notetask
/installer/*.wixobj
/installer/*.wixpdb
/installer/*.pfx
/installer/history/*
